In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [2]:
rates_df = pd.read_csv('employment_rates.csv');

rates_df = rates_df.style.set_table_styles([{
    "selector": "th, td", "props": [("text-align", "left")]}])

rates_df

In [7]:
sources_df = pd.read_csv('Sources.csv');
sources_df = sources_df.style.set_table_styles([{
    "selector": "th,td", "props":[("text-align", "left")]}])
sources_df

In [5]:
field_df = pd.read_csv('field.csv');
field_df

,University,Employment Category
0,Chalmers Tekniska Högskola (Chalmers) – UG+PG (all engineering programs),engineering
1,University of Gothenburg (IT/CS programs) – UG+PG,CSE/IT
2,KTH Royal Institute of Technology – PG (master’s),CSE/IT
3,KTH Royal Institute of Technology – UG+PG (all grads),all
4,Norwegian Univ. of Science & Tech. (NTNU) – UG+PG,CSE/IT
5,Universitat Politècnica de València (UPV) – UG (BSc Ingeniería Informática),CSE/IT
6,Gdańsk University of Technology (PG) – UG+PG,CSE/IT
7,Politechnika Warszawska (Warsaw Univ. of Tech.) – UG+PG,all
8,Politecnico di Milano (Polimi) – PG (Laurea Magistrale),CSE/IT
9,Politecnico di Milano (Polimi) – PG (Laurea Magistrale),CSE/IT
10,RWTH Aachen University – UG+PG (Informatik/Engineering),engineering
11,Technische Universität Berlin (TU Berlin) – UG+PG,all
12,Technical University of Munich (TUM) – UG+PG,all
13,ETH Zurich (Swiss Federal Inst. of Tech) – UG+PG,CSE/IT
14,EPFL (École Polytechnique Fédérale de Lausanne) – UG+PG,CSE/IT
15,University of Copenhagen (KU) – UG+PG (all fields),all
16,University of Helsinki (HY) – UG+PG (all fields),all
17,University of Cambridge – UG (Computer Science B.A.),CSE/IT
18,University of Oxford – UG (all undergraduates),all
19,University of Oxford – PG (postgraduate leavers),all
20,University College London (UCL) – UG (BSc Computer Science),CSE/IT
21,Institut Polytechnique de Paris (IP Paris) – PG (École Polytechnique Ingénieur),CSE/IT
22,Riga Technical University (RTU) – UG+PG (all grads),all
23,University of Tartu (UT) – UG+PG (all grads),all